extends layout

block content
  h1 Users Repos
  table
    thead
      tr
        th Name
        th Language
        th Forks
        th Stars
        th Watchers
    tbody
      - each item in info
        tr
          td= item.name
          td= item.language
          td= item.forks_count
          td= item.stargazers_count
          td= item.watchers_count
